<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/asset-favico.ico">
    <title>预约</title>
    <link rel="stylesheet" href="../css/page-health-order.css"/>
</head>
<body data-spy="scroll" data-target="#myNavbar" data-offset="150">
<div class="app" id="app">
    <!-- 页面头部 -->
    <div class="top-header">
        <span class="f-left"><i class="icon-back" onclick="history.go(-1)"></i></span>
        <span class="center">健康管理</span>
        <span class="f-right"><i class="icon-more"></i></span>
    </div>
    <!-- 页面内容 -->
    <div class="contentBox">
        <template>
            <div class="list-column1" style="overflow:auto">
                <ul
                        class="list"
                        v-infinite-scroll="load"
                        infinite-scroll-disabled="disabled">
                    <li class="list-item" v-for="setmeal in setmealList">
                        <a class="link-page" :href="'setmeal_detail.html?id='+setmeal.id">
                            <img class="img-object f-left"
                                 :src="'https://health-wang.oss-cn-shanghai.aliyuncs.com/img/'+setmeal.img" alt="">
                            <div class="item-body">
                                <h4 class="ellipsis item-title">{{setmeal.name}}</h4>
                                <p class="ellipsis-more item-desc">{{setmeal.remark}}</p>
                                <p class="item-keywords">
                                    <span>{{setmeal.sex == '0' ? '性别不限' : setmeal.sex == '1' ? '男':'女'}}</span>
                                    <span>{{setmeal.age}}</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <p v-if="loading">加载中...</p>
                <p v-if="noMore">没有更多了</p>
            </div>
        </template>
    </div>
</div>
<!-- 页面 css js -->
<script src="../plugins/vue/vue.js"></script>
<script src="../plugins/vue/axios-0.18.0.js"></script>
<!--<script src="../js/page-health-order.js"></script>-->
<link rel="stylesheet" href="../plugins/elementui/index.css">
<script src="../plugins/elementui/index.js"></script>
<script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data() {
            return {
                setmealList: [],
                loading: false,
                pagination: {
                    //分页相关模型数据
                    currentPage: 1, //当前页码
                    pageSize: 7, //每页显示的记录数
                    total: 0 //总记录数
                }
            }
        },
        computed: {
            noMore() {
                let currentSize = this.pagination.currentPage*this.pagination.pageSize;
                return currentSize >= this.pagination.total;
            },
            disabled() {
                return this.loading || this.noMore
            }
        },
        created() {
            this.findPage();
        },
        methods: {
            load() {
                this.loading = true
                setTimeout(() => {
                    this.pagination.currentPage+=1;
                    this.findPage();
                    //this.count += 2
                    this.loading = false
                }, 2000)
            },
            findPage(){
                axios.post("/setmeal/findByPage",this.pagination).then((res) => {
                    if (res.data.flag) {
                        for (let resultListKey in res.data.data.resultList) {
                            this.setmealList.push(res.data.data.resultList[resultListKey]);
                        }
                        this.pagination.total = res.data.data.total;
                    } else {
                        this.$message.error(res.data.message);
                    }
                })
            }
        }
    });
    //var vue = new Vue({
    //    el:'#app',
    //    data:{
    //        setmealList:[]
    //    },
    //    created (){
    //           this.findPage();
    //    },
    //    methods:{
    //        findPage(){
    //            axios.get("/setmeal/findAll").then((res)=>{
    //                if(res.data.flag){
    //                    this.setmealList=res.data.data;
    //                }else{
    //                    this.$message.error(res.data.message);
    //                }
    //            })
    //        }
    //    }
    //});
</script>
</body>